.register-img {
  width: 60%;
  text-align: center;
}

.register-img img {
  width: 70%;
  object-fit: contain;
}

.register-form {
  padding: 50px;
  background: var(--secondary-color);
  position: relative;
}

.register-container {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 100px;
}

.register-form .user {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -9px;
  left: 50px;
  transform: translate(-50%, -9%);
}

.register-form .user img {
  width: 100%;
}

.register-form h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.register-form {
  width: 40%;
}

.register-form input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: var(--heading-color);
}

.register-form input:focus {
  outline: none;
}

.register-form input:focus {
  outline: none;
}

.auth-btn {
  background-color: var(--heading-color) !important;
  width: 100%;
  color: #fff !important;
}

.register-foam p {
  font-size: 0.9rem;
  color: #fff;
  margin-top: 1.5rem;
  text-align: center;
}

.register-form p a {
  color: var(--heading-color);
  text-decoration: none;
  margin-left: 5px;
  font-weight: 500;
}
